@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&family=Source+Code+Pro&display=swap');

:root {
	--primary-color: #43636B;
	--primary-variant: #1B3F47;
	--secondary-color: #50825D;
	--secondary-variant: #1F562D;
	--background: #b6c6c9;
	--padding-left: 400px;
	--padding-right: 300px;
}

html {
    /* avoids padding to force a horizontal scroll bar  */
    box-sizing: border-box;
	scroll-behavior: smooth; 
}

body {
    margin: 0;
    /* full height of the entire screen */
    min-height: 100vh;
	background-color: var(--background);
	font-weight: 400;
	font-family: 'Roboto Mono', monospace;
}

h1 {
	text-align: center;
	font-weight: 600;
}

label {
	font-weight: 600;
}

.project {
	height: 100%;
	width: auto;
	top: 0;
	padding-left: var(--padding-left);
	padding-right: var(--padding-right);
	text-align: justify;
}

/* SECTIONS */
section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-direction: column;
}

.section2 {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
}

.section2_userInput {
	display: flex;
	justify-content: center;
	align-items:flex-start;
	flex-direction: column;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 20px 20px;
	width: auto;
	height: auto;
}

.section2_displayInfo {
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 5px 5px;
	min-width: 400px;
	width: auto;
	background: var(--background);
	box-shadow: var(--primary-variant);
} 

.section3 {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 10px;
}

.section3_userInput {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-direction: row;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
}

.section3_innerInput {
	display: flex;
	align-items:stretch;
	align-content: flex-start;
	flex-direction: column;
	padding: 20px 20px;
}

.section3_revision {
	display: flex;
	flex-direction: column;
	/* align-content: center; */
	row-gap: 10px;
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 20px;
}

#section3_logDelivery {
	display: flex;
	flex-direction: column;
	gap: 10px;
	flex-wrap: wrap;
}

#displayLog_stages {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 10px;
	flex-wrap: wrap;
}

.displayStage {
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 5px;
}

.sidenav {
	visibility: visible;
	height: 100%;
	width: 230px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: var(--primary-variant);
	overflow-x: hidden;
	padding-top: 20px;
  }

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: var(--background);
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.personal-info {
	/* min-height: 100vh; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.personal-info img {
	border: 1px solid var(--secondary-color);
	border-radius: 10px;
	padding: 5px 5px;
	width: auto;
	background: var(--background);
	box-shadow: var(--primary-variant);
	height: 120px;
  	width: 120px;
}

.personal-info .text {
	text-align: center;
	font-size: 15px;
}

select {
	border: 1px solid #e0e0e0;
    border-radius: 3px;
    background: #fff;
    margin: 0 5px 5px 0;
}

form {
	padding-bottom: 10px;
}

/* TABLE STYLING */
table {
	border-collapse: collapse;
	width: 100%;
}

td, th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: var(--primary-variant);
	color: white;
}



#userAddedCities {
	display: flex;
	justify-content: space-around;
	align-items:flex-start;
	flex-direction: column;
}

.endBtns {
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
	column-gap: 10px;
	width: 100%;
}

/* Displaying code */
pre {
	background-color: var(--primary-variant);
	color:white;
	border-radius: 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 10px;
	text-align: left;
	font-family: 'Source Code Pro', monospace;;
}
/* Displaying code */

.social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.fa-brands {
	/* align-items: center; */
	font-size: 100px;
	margin-right: 50px;
	cursor: pointer;
	color: var(--secondary-color);
}

.fa-brands:hover{
	color: var(--secondary-variant);
}

@media screen and (max-width: 1400px) {
	:root {
		--padding-left: 245px;
		--padding-right: 10px;
	}
	.sidenav {
		visibility: visible;
	}
}

@media screen and (max-width: 600px) {
	:root {
		--padding-left: 15px;
	}
	.sidenav {
		visibility: hidden;
	}
}

